In [1]:
import pandas as pd
import datetime

di = datetime.date(2016, 5, 12)
df = datetime.date(2018, 9, 17)

Datas = pd.date_range(di, df)

wd=[]
for k in Datas:
    if k.weekday()==0:
        wd.append('Segunda-Feira')
    elif k.weekday()==1:
        wd.append('Terça-Feira')
    elif k.weekday()==2:
        wd.append('Quarta-Feira')
    elif k.weekday()==3:
        wd.append('Quinta-Feira')
    elif k.weekday()==4:
        wd.append('Sexta-Feira')
    elif k.weekday()==5:
        wd.append('Sábado')
    elif k.weekday()==6:
        wd.append('Domingo')
        
df=pd.DataFrame(wd,index=Datas)

display(df)

                        0
2016-05-12   Quinta-Feira
2016-05-13    Sexta-Feira
2016-05-14         Sábado
2016-05-15        Domingo
2016-05-16  Segunda-Feira
...                   ...
2018-09-13   Quinta-Feira
2018-09-14    Sexta-Feira
2018-09-15         Sábado
2018-09-16        Domingo
2018-09-17  Segunda-Feira

[859 rows x 1 columns]

In [2]:
wdE=[]
for k in Datas:
    wdE.append(k.strftime("%A"))

In [4]:
df2=pd.DataFrame(wdE,index=Datas)

display(df2)

                   0
2016-05-12  Thursday
2016-05-13    Friday
2016-05-14  Saturday
2016-05-15    Sunday
2016-05-16    Monday
...              ...
2018-09-13  Thursday
2018-09-14    Friday
2018-09-15  Saturday
2018-09-16    Sunday
2018-09-17    Monday

[859 rows x 1 columns]